

@using (@Html.BeginForm("AssignRole", "Admin", FormMethod.Post))
{



    <div class="form-group">
        <label>نام نقش</label>
        <div class="col-lg-6">
            @Html.DropDownList("Role", ViewBag.Role as IEnumerable<SelectListItem>, "....", new {@class="form-control" })
        </div>
    </div>

    <div class="form-group">
        <label>نام کاربر</label>
        <div class="col-lg-6">
            @Html.DropDownList("User", ViewBag.User as IEnumerable<SelectListItem>, "....", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label>ثبت نقش جدید</label>
        <div class="col-lg-6">
            <input type="submit" class="form-control btn btn-info " name="btnSaveUSer" value="ثبت نقش " />
        </div>
    </div>



}

assi