@using (@Html.BeginForm("CrateUser", "Admin", FormMethod.Post))
{ 



<div class="form-group">
    <label>نام , نام خانوادگی</label>
    <div class="col-lg-6">
        <input type="text" class="form-control" name="txtName" />
    </div>
</div>
<div class="form-group">
    <label>ایمیل</label>
    <div class="col-lg-6">
        <input type="text" class="form-control" name="txtEmail" />
    </div>
</div>
<div class="form-group">
    <label>نام کاربری</label>
    <div class="col-lg-6">
        <input type="text" class="form-control" name="txtUsername" />
    </div>
</div>
<div class="form-group">
    <label>کلمه عبور</label>
    <div class="col-lg-6">
        <input type="password" class="form-control" name="txtPassword" />
    </div>
</div>

<div class="form-group">
    <label>ثبت کاربر جدید</label>
    <div class="col-lg-6">
        <input type="submit" class="form-control btn btn-info " name="btnSaveUSer" value="ثبت کاربر جدید" />
    </div>
</div>



}

