
@{
    ViewBag.Title = "Index";
}

<h2>صفحه اصلی مدیریت</h2>



<div class="row">
    <div class="col-lg-12">
        <i id="newUserIcon" class="glyphicon glyphicon-registration-mark" style="cursor:pointer;"></i>&nbsp;
        <i id="newRoleIcon"class="glyphicon glyphicon-pencil" style="cursor:pointer;"></i>&nbsp;
        <i id="newRoleAssign"class="glyphicon glyphicon-user" style="cursor:pointer;"></i>&nbsp;
    </div>
</div>

<br />
<div id="newUserDev" class="panel panel-default" style="display:none;">
    <div class="panel-heading"> لیست کاربران</div>
    <div class="panel-body">
        @{
            Html.RenderAction("CrateUser");
        }

    </div>
</div>

<div id="newRoleDev" class="panel panel-default" style="display:none;">
    <div class="panel-heading"> لیست کاربران</div>
    <div class="panel-body">
        @{
            Html.RenderAction("CreateRole");
        }

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"> لیست کاربران</div>
    <div class="panel-body">
        @{
            Html.RenderAction("GetAllUser");
        }

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading"> لیست نقش ها (رولها)</div>
    <div class="panel-body">
        @{
            Html.RenderAction("GetAllRole");
        }
    </div>
</div>


@section MyScript{
    
<script>
    $("#newUserIcon").click(function () {
        $("#newUserDev").show();
    });


    $("#newRoleIcon").click(function () {
        $("#newRoleDev").show();
    });
</script>
    
    }
